name: test

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#permissions
permissions:
  contents: read

on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go_version:
          - 1.24.0
          - 1.23.6
        example:
          - c
          - cpp
          - echo
          - gorm
          - jq
        include:
          - target: artifact-all
          - go_version: 1.24.0
            example: all
            target: image
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build
        uses: docker/bake-action@v5
        with:
          files: ./examples/${{ matrix.example }}/docker-bake.hcl
          targets: ${{ matrix.target }}
          set: |
            ${{ matrix.target }}.context=./examples/${{ matrix.example }}
            goxx.context=.
            goxx.args.GO_VERSION=${{ matrix.go_version }}
      -
        name: List artifacts
        if: ${{ matrix.target == 'artifact-all' }}
        run: |
          tree -nh ./dist
